<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--<script src="/public/assets/js/script.js"></script>-->

    <title>Burger Yum</title>

</head>

<body>
    {{{ body }}}

    <script type = "text/javascript">
    
        $(document).ready(function () {

            $(".burger-form").on("submit", function (event) {
                event.preventDefault();

                let addedBurger = {
                    burger_name: $("#addedBurger").val().trim(),
                    devoured: 0
                };
                $.ajax("/api/burgers", {
                    type: "POST",
                    data: addedBurger
                }).then(function () {
                    console.log("burger added");
                    location.reload();
                })
            })

            $(".devouredBurger").on("click", function(event) {
                event.preventDefault(); 

                let id = $(this).data("id"); 
                let burgerStatus = {
                    devoured: 1
                }
                $.ajax("/api/burgers/" + id, {
                    type: "PUT", 
                    data: burgerStatus
                }).then(function() {
                    console.log("burger devoured"); 
                    location.reload(); 
                });
            });

            $(".deleteBurger").on("click", function(event) {
                event.preventDefault(); 

                let id = $(this).data("id"); 
              
                $.ajax({
                    type: "DELETE", 
                    url: "/api/burgers/" + id
                }).then(location.reload());
            });

    
        });
    
    </script>
</body>
</html>