<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Burger Yum!</h1>
            <p class="lead"> Specify the burger you desire and devour.</p>
        </div>
        </div>
    </div>
<div class="row">
    <div class="col" id="leftside">

    <!-- burgers section -->

    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <span>- {{this.burger_name}} </span>
        
        <button type="button" class="devouredBurger btn btn-success"  data-id="{{this.id}}">devour it </button>
        
        {{/unless}}
        {{/each}}
    </ul>


    </div>
    <div class="col">
    <!-- Text input section -->
    <form class="burger-form">
        <div class="form-group">
        <input class="form-control form-control-lg" type="text" placeholder="" id="addedBurger">
                <button type="submit" class="btn btn-success">Add Burger</button>
            </div>
        </form>
    </div>


    <div class="col">
    <!-- devoured burgers section -->   
<ul>
    {{#each burgers}} 
    {{#if devoured}}
    <span> - {{this.burger_name}} </span>
    <button type="button" class="deleteBurger btn btn-success"  data-id="{{this.id}}">Throw Away </button>
    {{/if}}
    {{/each}}
    </ul>
    </div>
</div>
</div>