<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Burger Yum!</h1>
            <p class="lead"> Specify the burger you desire and devour.</p>
        </div>
        </div>
    </div>
<div class="row">
    <div class="col" id="leftside">

    <!-- burgers section -->

    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <span>{{this.id}} - {{this.burger_name}} </span>
        {{/unless}}
        {{/each}}
    </ul>


    </div>
    <div class="col">
    <!-- Text input section -->

    </div>
    <div class="col">
    <!-- devoured burgers section -->    
    
    </div>
</div>
</div>