* {
    
    font-family: 'Special Elite', cursive;
    box-sizing: border-box;
   
}

body {

 background-color: #fdecc9;
}

h1 {
    font-size: 2.9rem;
    background-color: #9be6e2
}

h3 {
    padding-bottom: 30px; 
    font-weight: bold; 
    color: black;
    
}

#title-row {
  
   margin: 40px; 
   color: black;
    background-color: #9be6e2;
}
#title-content {
    padding: 30px;
    background-color: #9be6e2
}

#main-content {
   
    margin: 40px;
    height: 500px; 
    padding: 20px; 
    background-color: #9be6e2;
}

#burger-devour {
    height: 100%;
}
#burger-delete {
    height: 100%;
}

.form-control {
    margin-left: 70px;
    width: 300px;

}

 li {
     font-size: x-large;
     padding-bottom: 20px;
 }

 .fa-utensils:before {
   background-color: #9be6e2;
 }
 .fa-trash:before {
    background-color: #9be6e2; 
}





